@font-face {
    font-family: 'Intro';
    src:url('../fonts/Intro.ttf.woff') format('woff'),
        url('../fonts/Intro.ttf.svg') format('svg'),
        url('../fonts/Intro.ttf.eot'); 
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

$accent:#5222D0;



@mixin round {
    width: 12px;
    height: 12px;
    border-radius: 50%
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.header__top{
    height: 40px;
    display: flex;
    border-bottom: #E5E5E5 solid 1px ;

.header__vr{
    align-self: center;
    margin-left: 45%;
    font-family: 'Helvetica';
    color: #6e6e6e;
}
    
}

.header__buttons{
    display: flex;
    align-self: center;
    margin-left: 20px;
    

.button {
    @include round;
    margin-left: 5px;
}

.header__buttons_red {
    background-color: rgb(247, 76, 54);
}

.header__buttons_yellow {
    background-color: rgb(252, 215, 53);
}

.header__buttons_green {
    background-color: rgb(82, 192, 67);
}
}

.main {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}


.main__header {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: $accent;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-content: center;

}

.main__header-bucket {
    width: 115px;
    height: 38px;
    }

.btn:hover { background:#4e20c2d5; } 
.btn:active { background: #865dee; } 

.btn_title {
    text-decoration: none;
    color: white;
    font-family: 'Intro';
    font-size: 13px;
    align-self: center;
}

.main__header-bucket_btn {
    margin-right: 5px;
}

.main__header-bucket_icon {
    width: 14px;
    height: 14px;
    align-self: center;
    justify-self: end;
    margin-top: -7px;
}

.about__title{
    font-family: 'Intro';
    font-size: 60px;
    line-height: 120%;
    margin-left: 45px;
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    row-gap: 10px;
    align-items: center;
    justify-items: center;
    

    .about__box {
        width: 365px;
        height: 100%;
        align-content: end;
        
    }

    .rec {
        background-color: #EC615B;
        width: 365px;
        height: 233px;
        position: absolute;
    }
    
    .about__img{
        position: relative;
    }

    .about__subtitle {
        font-family: 'Intro';
        font-size: 30px;
        line-height: 120%;
    }

    .about__text {
        font-family: 'Roboto Slab';
        font-size: 20px;
        line-height: 160%;
    }

    .content_2{
        margin-top: -22px;
    }

    .content_3{
        margin-top: -9px;
    }

    .content_1{
        border: #EC615B solid 1px;
        padding: 26px 40px 0px 35px;
        margin-top: -20px;
    }

    .content_4 {
        border: #EC615B solid 1px;
        padding: -15px 26px 0 55px;
        margin: -8px -26px 20px -55px;
        

        .content_4-inner{
        margin-left: 55px;
        }

        .inner {
            width: 365px;
            height: 178px;
        }
    }

    .content_5 {
        margin-top: -9px;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .internal{
        margin-left: 18px;
        margin-top: -10px;

        .news {
            color: white;
        }

        .about__email{
            width: 323px;
            height: 50px;
        }

        .placeholder {
            font-family: 'Roboto Slab';
            font-size: 20px;
            line-height: 160%;
            color: black;
            margin-top: -20px;
            border: none;
        }

        .about__btn{
            width: 135px;
            height: 38px;
            margin-top: 23px;
        }
    }

}

.links {
    margin-left: -10px;
    margin-top: 86px;


    .list {
        list-style: none;
        display: flex;
        
    }

    .link{
        text-decoration: none;
        font-family: 'Roboto Slab';
        font-weight: 300;
        font-size: 20px;
        line-height: 160%;
        color: black;
        margin-right: 34px;
    }

    .links:last-child{
        margin-right: 0;
    }

}